.idea
.conda
.Rproj.user
.RHistory
.RData
P9.Rproj
conjunto_de_datos_defunciones_registradas_2022.CSV
COVID19MEXICO2020.csv
COVID19MEXICO2021.csv
covid.xlsx
ITER_NALCSV20.csv
IPL_01.xlsx
IPL_02.xlsx
IPL_03.xlsx
IPL_05.xlsx
IPL_07.xlsx
tlc_data.csv
yellow_tripdata_2015-01.csv
yellow_tripdata_2016-01.csv
yellow_tripdata_2016-02.csv
yellow_tripdata_2016-03.csv
NYPD_Complaint_Data_Historic.csv
Population_by_Borough_NYC.csv
PROTECSA
KTH_TIPS
*.tsv.gz
.env
parquet
NYPD_Complaint_Data_Historic_Complete.csv
cleaned_data
original_data
sub-data.csv